@use "../../common/color.scss"as kohubColor;

@font-face {
    font-family: "Noto Sans KR", sans-serif;
    src: url("../../../public/fonts/NotoSansKR-Medium.otf");
}

.kohub-faq {
    padding: 50px;

    .kohub-faq__content {
        padding-left: 300px;
        min-height: 600px;

        .kohub-faq-content__bottom-area {
            margin-top: 20px;
            width: 100%;
            text-align: center;
            position: relative;
        }
    }
}