@use "../../common/color.scss"as kohubColor;

@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("../../../public/fonts/NotoSansKR-Medium.otf");
}

.kohub-noticeboard {
  .kohub-noticeboard__table {
    margin-top: 20px;
  }

  .kohub-notice-board-col {
    &:nth-child(1) {
      width: 70px;
    }

    &:nth-child(2) {
      width: 550px;
    }
  }

  table {
    tbody {
      td {
        &:nth-child(2) {
          text-align: left !important;
        }
      }
    }
  }
}



.kohub-noticeboard__content {
  padding: 50px;
  min-height: 600px;

  .kohub-noticeboard__board {
    padding-left: 300px;

    .kohub-noticeboard-content__bottom-area {
      margin-top: 20px;
      width: 100%;
      text-align: center;
      position: relative;

      .kohub-noticeboard-content__write-button {
        position: absolute;
        top: 0%;
        right: 0%;

        span {
          color: kohubColor.$font-color-third;
          font-size: 20px;
          font-weight: 600;

          &:hover {
            color: kohubColor.$color-koHub-primary;
            cursor: pointer;
          }
        }
      }
    }
  }
}