@use "../../common/color.scss"as kohubColor;

@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url('../../../public/fonts/NotoSansKR-Bold.otf');
}

.kohub-noticeupdate {}

.kohub-noticeupdate__content {
  padding: 60px;

  .kohub-noticeupdate__title {
    h2 {
      margin-left: 15px;
      margin-bottom: 15px;
      color: kohubColor.$color-koHub-primary;
      font-size: 32px;
      font-weight: bold;
    }
  }

  .kohub-noticeupdate__hr {
    hr {
      margin: 0;
      border: none;
      border: 2px solid kohubColor.$color-koHub-primary;
      margin-bottom: 15px;
    }
  }

  .kohub-noticeupdate__input {
    input {
      margin-bottom: 15px;
      padding-left: 15px;
      height: 68px;
      width: 1130px;
      font-size: 20px;
      font-weight: bold;

      ::placeholder {
        color: kohubColor.$font-color-third--light;
      }

    }
  }

  .kohub-noticeupdate__text-editor {
    margin-bottom: 15px;

    .kohub-noticeupdate__edited-area {
      height: 380px;
      font-size: 15px;
    }
  }

  .kohub-noticeupdate___button {
    text-align: center;
  }
}