$color-kohub-login: rgb(249, 249, 249);
$color-koHub-primary: rgb(8, 43, 73);

$font-color-subtitle: rgb(51, 51, 51);
$font-color-base: rgb(158, 158, 158);

.NotFound-area {
    background-color: $color-kohub-login;
    padding: 100px;
}

.NotFound-container {
    width: 100%;
    text-align: center;

    h1 {
        color: $color-koHub-primary;
        font-size: 85px;
    }

    h2 {
        color: $font-color-subtitle;
        font-size: 43px;
    }

    div {
        width: 50%;
        margin: 0 auto;
        width: 376px;
        margin-bottom: 10px;
    }

    button {
        background-color: $color-koHub-primary;
        color: white;
        font-size: 15px;
        width: 376px;
        height: 50px;
        border-radius: 10px;
    }
}