@use "../common/util.scss"as kohubUtil;
@use "../common/color.scss"as kohubColor;

.kohub-signup {
  background-color: kohubColor.$color-background-white--fade;
  height: 100%;
}

.kohub-signup__content {
  hr {
    margin-bottom: 15px;
    width: 376px;
    border: none;
    border: 1px solid kohubColor.$color-koHub-primary;
  }

  div {
    width: 376px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .kohub-signup__input {
    span {
      font-weight: bold;
    }

    input {
      margin-top: 15px;
      padding-left: 5px;
      width: 376px;
      height: 30px;
    }

    .kohub-signup__notice {
      color: kohubColor.$font-color-third--fade;
      text-align: right;
    }
  }

  .kohub-signup__button {
    button {
      background-color: kohubColor.$color-koHub-primary;
      color: white;
      font-size: 15px;
      width: 376px;
      height: 50px;
      border-radius: 5px;
    }
  }

  .kohub-signup__logo {
    @include kohubUtil.background-img('../../public/imgs/logo/koHUB_page_logo_1200.png');
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}