@use "../common/util.scss"as kohubUtil;
@use "../common/color.scss"as kohubColor;

.kohub-signupAuth {
  background-color: kohubColor.$color-background-white--fade;
  height: 100%;
}

.kohub-signupAuth__content {

  hr {
    margin-bottom: 30px;
    width: 376px;
    border: none;
    border: 1px solid kohubColor.$color-koHub-primary;
  }

  div {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }

  .kohub-signupAuth__subtitle {
    h2 {
      font-size: 24px;
      font-weight: bold;
      color: kohubColor.$font-color-subtitle;
    }

  }

  .kohub-signupAuth__button {
    button {
      background-color: kohubColor.$color-koHub-primary;
      color: white;
      font-size: 15px;
      width: 376px;
      height: 50px;
      border-radius: 5px;
    }
  }

  .kohub-signupAuth__logo {
    @include kohubUtil.background-img('../../public/imgs/logo/koHUB_page_logo_1200.png');
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}