@use '../common/color.scss'as kohubColor;

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../../public/fonts/NotoSansKR-Bold.otf');
}

.kohub-admin__title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 24pt;
    color: kohubColor.$color-koHub-primary;
    float: left;
    margin-right: 20px;
}