@use '../common/color.scss'as kohubColor;

.kohub-admin-header-area {
    header {
        position: static;
    }

    width: 100%;
    height: 68px;
    border-bottom: 2px solid kohubColor.$color-koHub-primary;
    margin-bottom: 20px;
}