@use '../common/color.scss'as kohubColor;

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../../public/fonts/NotoSansKR-Medium.otf');
}

.kohub-btn {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 9pt;
    width: 49px;
    height: 26px;
    color: white;
    background-color: kohubColor.$color-koHub-primary;
    border-radius: 4px;
}

.close--admin {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 9pt;
    width: 170px;
    height: 26px;
    color: white;
    background-color: kohubColor.$color-koHub-primary;
    border-radius: 4px;
}

.register {
    font-family: 'Noto Sans KR',
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 159px;
    height: 40px;
    margin-right: 15px;
    background-color: kohubColor.$color-koHub-primary;
    color: white;
}

.cancel {
    font-family: 'Noto Sans KR',
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    width: 159px;
    height: 40px;
    background-color: white;
    color: kohubColor.$color-koHub-primary;
    border: 1px solid kohubColor.$color-koHub-primary;
}