@use '../common/color.scss'as kohubColor;


@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../../public/fonts/NotoSansKR-Medium.otf');
}


.kohub-replies {
    .kohub-reply-area {
        .kohub-reply-update {
            margin-top: 20px;
            padding-top: 10px;
            padding-left: 10px;
            border-left: 1px solid kohubColor.$filter-menu-border-color;

            .kohub-reply-update-input {
                margin-bottom: 10px;

                input {
                    padding: 5px;
                    width: 1126px;
                    height: 70px;
                }
            }

            .kohub-reply-update-btn {
                text-align: center;

                button {
                    height: 30px;
                }
            }
        }

        .kohub-reply {
            margin-top: 20px;
            padding-left: 10px;
            border-left: 1px solid kohubColor.$filter-menu-border-color;

            .kohub-reply-header {
                position: relative;

                .kohub-reply-header-userinfo {
                    #reply-date {
                        font-size: 14px;
                        color: kohubColor.$reply-date-color;
                    }

                    #reply-username {
                        font-size: 17px;
                        font-weight: 600;
                        color: kohubColor.$font-color-subtitle;
                    }
                }

                .kohub-reply__manage {
                    position: absolute;
                    right: 0%;
                    top: 36%;
                    font-weight: bold;
                    margin-right: 15px;
                    color: kohubColor.$font-color-third--fade;

                    span {
                        margin-left: 6px;
                        margin-right: 6px;

                        &:hover {
                            cursor: pointer;
                            color: kohubColor.$color-koHub-primary;
                        }
                    }
                }
            }

            .kohub-reply-article {
                margin-top: 10px;

                p {
                    line-height: 22px;
                    font-size: 17px;
                }
            }
        }
    }
}