@use '../common/color.scss'as kohubColor;

@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("../../public/fonts/NotoSansKR-Medium.otf");
}

.kohub-sidebar {
  position: absolute;
  left: 350px;
  top: 203px;
  width: 228px;

  .kohub-sidebar__title {
    font-size: 32px;
    font-weight: 600;
    color: kohubColor.$color-koHub-primary;
    margin-bottom: 15px;

  }

  .kohub-sidbar__content {
    li {
      padding-left: 5px;
      margin-bottom: 15px;

      a {
        font-size: 20px;
        font-weight: 600;
        color: kohubColor.$font-color-third;

        &:hover {
          color: kohubColor.$color-koHub-primary;
          text-decoration: underline;
        }
      }
    }
  }


  .kohub-sidebar__hr {
    hr {
      margin: 0;
      border: none;
      border: 1px solid kohubColor.$color-koHub-primary;
      margin-bottom: 15px;
    }
  }
}