//공통으로 사용할 Color 변수 및 믹스인

//Color
$color-koHub-primary : rgb(8, 43, 73);
$color-koHub-primary--opacity : rgba(8, 43, 73, 0.95);

//Background-Color
$color-background-white--fade : rgb(249, 249, 249);
$color-background-black--opacity : rgba(0, 0, 0, 0.5);
$color-background-empty : rgba(255, 255, 255, 0);

//Font-Color
$font-color-primary : white;
$font-color-primary--fade : rgb(224, 224, 224);
$font-color-secondary : rgb(255, 200, 152);
$font-color-third : rgb(127, 127, 127);
$font-color-third--light: rgb(190, 190, 190);
$font-color-third--fade : rgb(158, 158, 158);
$font-color-subtitle: rgb(51, 51, 51);
$font-color-bold : #222;

//Table-Color
$table-head-color: rgb(249, 249, 249);
$table-line-color : #d7dade;

//Pagination-Color
$pagination-btn-color: rgb(244, 244, 244);

//Dropbos-Color
$dropbox-menu-hover-color: rgb(244, 244, 244);