.kohub-faq-board-col {
    &:nth-child(1) {
        width: 30px;
    }

    &:nth-child(2) {
        width: 40px;
    }

    &:nth-child(3) {
        width: 380px;
    }

    &:nth-child(4) {
        width: 70px;
    }

    &:nth-child(5) {
        width: 70px;
    }
}