@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../../../public/fonts/NotoSansKR-Medium.otf');
}

.kohub-admin-promotion-write {


    .kohub-admin-promotion-write__user-info {
        overflow: hidden;

        input {
            float: left;
            margin-right: 10px;
            width: 461px;
            height: 48px;
            font-size: 12pt;

            &:nth-last-of-type() {
                margin-right: 0;
            }
        }

        label {
            &:last-child {
                input {
                    margin-right: 0;
                }
            }
        }
    }

    .kohub-admin-promotion-write__promo-info {
        margin-top: 10px;
        overflow: hidden;

        .react-datepicker-wrapper {
            float: left;
        }

        input {
            float: left;
            width: 461px;
            height: 48px;
            margin-right: 10px;
            font-size: 12pt;
            overflow: visible;

            &:nth-last-of-type() {
                margin-right: 0;
            }
        }

        label {
            &:last-child {
                input {
                    margin-right: 0;
                }
            }
        }
    }

    .kohub-admin-promotion-write__text-editor {
        margin-top: 10px;

        .kohub-admin-promotion-write__edited-area {
            height: 440px;
        }
    }

    .kohub-admin-promotion-write__file {
        margin-top: 10px;
    }

    .kohub-admin-promotion-write__btn {
        margin-top: 10px;
        text-align: center;

        button {
            width: 93px;
            height: 27px;
            margin-right: 10px;
        }
    }
}