@use "../../common/color.scss"as kohubColor;

@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url('../../../public/fonts/NotoSansKR-Bold.otf');
}

.kohub-notfound {
    background-color: kohubColor.$color-background-white--fade;
    height: 100%;
}

.kohub-notfound__content {
    text-align: center;

    div {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: center;
    }

    h1 {
        color: kohubColor.$color-koHub-primary;
        font-size: 85px;
        font-weight: bold;
    }

    .kohub-notfound__subtitle {
        h2 {
            font-size: 43px;
            color: kohubColor.$font-color-subtitle;
        }
    }

    .kohub-notfound__button {
        button {
            background-color: kohubColor.$color-koHub-primary;
            color: white;
            font-size: 15px;
            width: 165px !important;
            height: 45px;
            border-radius: 5px;
        }
    }
}